@import "tailwindcss";

body {
  background-color: black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* global styles */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
